@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fredoka-one';
  src: url('./fonts/fredoka-one/FredokaOne-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


  /* this for the star */
  .filled {
    color: gold;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }